* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;	box-sizing: border-box;
}

.visuallyhidden {
    position: absolute;
    margin: -1px;    
    padding: 0;    
    border: 0;
    overflow: hidden;    
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    white-space: nowrap; /* 1 */
}

body {
	background-color: white;
	background-image: url('img/background.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	color:  #7f7f7f;
}

body > header {
	margin-top: 25px;
	height: 111px;
	text-align: center;
	background-image: url('img/logo.png');
	mix-blend-mode: soft-light;
	background-repeat: no-repeat;
	background-position: top center;
}

.wrapper {
	margin:  0 auto;
	margin-top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	        -webkit-box-align: center;
	            -ms-flex-align: center;
	width: 1050px;
}

.column {
	margin: 0 60px;
}

.column .form {
	margin-bottom: 50px;
}


.credits {
	height: 150px;
	width: 380px;
	background-image: url('img/logo-bottom.png');
	mix-blend-mode: soft-light;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}

.form {
	margin-bottom: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.form > header {
	margin-bottom: 35px;
	color: #ffffff;
	font-size: 22px;
	text-align:  center;
	text-shadow: 2px 1px 2px #191919;
}


/* form styling */
form {	
	padding: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 380px;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(56%, rgba(248,248,248,1)),color-stop(100%, rgba(243,243,243,1)),to(rgba(243,243,243,1)));
	background: linear-gradient(to bottom, rgba(248,248,248,1) 56%,rgba(243,243,243,1) 100%,rgba(243,243,243,1) 100%);
	background-color: #fff;
	outline: 20px solid rgba(0, 0, 0, 0.23);
}

span {
	position: relative;
	height: 40px;
}

span::after {
	position: absolute;	
	bottom: 0;
	left:  60px;
	content: "";
	height: 28px;
	border-left: 1px solid #e4e4e4;
}

input {
	padding-left: 80px;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	width: calc(100% - 80px);
	height: 40px;
	margin: 10px 0;	
	font-size: 16px;
	letter-spacing: 1px;
	color: #7f7f7f;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(56%, rgba(248,248,248,1)),color-stop(100%, rgba(243,243,243,1)),to(rgba(243,243,243,1)));
	background: linear-gradient(to bottom, rgba(248,248,248,1) 56%,rgba(243,243,243,1) 100%,rgba(243,243,243,1) 100%);
	background-repeat: no-repeat;
	background-position: 17px center;
}


input::-webkit-input-placeholder {
	opacity: 1;
	color:  #afafaf;
}

input:-ms-input-placeholder {
	opacity: 1;
	color:  #afafaf;
}

input::-ms-input-placeholder {
	opacity: 1;
	color:  #afafaf;
}

input::placeholder {
	opacity: 1;
	color:  #afafaf;
}

textarea {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 10px 15px;
	width: 100%;
	height: 230px;
	margin: 10px 0;	
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	color: #7f7f7f;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(56%, rgba(248,248,248,1)),color-stop(100%, rgba(243,243,243,1)),to(rgba(243,243,243,1)));
	background: linear-gradient(to bottom, rgba(248,248,248,1) 56%,rgba(243,243,243,1) 100%,rgba(243,243,243,1) 100%);
	background-repeat: no-repeat;
	background-position: 17px center;
}

textarea::-webkit-input-placeholder {
	opacity: 1;
	color:  #afafaf;
}

textarea:-ms-input-placeholder {
	opacity: 1;
	color:  #afafaf;
}

textarea::-ms-input-placeholder {
	opacity: 1;
	color:  #afafaf;
}

textarea::placeholder {
	opacity: 1;
	color:  #afafaf;
}

input:hover::-webkit-input-placeholder, input:focus::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
	color: #7f7f7f;
}

input:hover:-ms-input-placeholder, input:focus:-ms-input-placeholder, textarea:hover:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
	color: #7f7f7f;
}

input:hover::-ms-input-placeholder, input:focus::-ms-input-placeholder, textarea:hover::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {
	color: #7f7f7f;
}

input:hover::placeholder, input:focus::placeholder, textarea:hover::placeholder, textarea:focus::placeholder {
	color: #7f7f7f;
}

input:hover, input:focus, textarea:hover, textarea:focus {
	color: #7f7f7f;
	background-color: #f4f4f4;
}

input:focus, textarea:focus {
	border: 1px solid #3b9a00;
}

.styled-select {
	display: block;
	margin: 10px 0;	
	width: 100%;
	height: 42px;
	overflow: hidden;
	background: url('img/icons/arrow.svg') no-repeat;
	background-position: calc(100% - 17px) center;
	background-size: 15px;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
}

.styled-select:hover, .styled-select:focus {
	background-color: #f4f4f4;
	color: #7f7f7f;
}

.styled-select:focus {
	border: 1px solid #3b9a00;
}

select {
	padding-left: 80px;
	width: calc(100% + 50px);
	height: 100%;
	color: #afafaf;
	font-size: 16px;
	border: 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(56%, rgba(248,248,248,1)),color-stop(100%, rgba(243,243,243,1)),to(rgba(243,243,243,1)));
	background: linear-gradient(to bottom, rgba(248,248,248,1) 56%,rgba(243,243,243,1) 100%,rgba(243,243,243,1) 100%);
	background-repeat: no-repeat;
	background-position: 17px center;
	-webkit-appearance: none;
}

select:hover, select:focus {
	color: #7f7f7f;
}

option{  
	display: block;
	width: calc(100% - 50px);
}


.user {
	background-image: url('img/icons/user.svg');
	margin-top: 0;
}
.user.filled, .user:hover, .user:focus {
	background-image: url('img/icons/user-hover.svg');
}

.password {
	background-image: url('img/icons/lock.svg');
}
.password.filled, .password:hover, .password:focus {
	background-image: url('img/icons/lock-hover.svg');
}

.email {
	background-image: url('img/icons/email.svg');
}
.email.filled, .email:hover, .email:focus {
	background-image: url('img/icons/email-hover.svg');
}

.location {
	background-image: url('img/icons/location.svg');
}
.location.password, .location:hover, .location:focus {
	background-image: url('img/icons/location-hover.svg');
}

.phone {
	background-image: url('img/icons/phone.svg');
}
.phone.password, .phone:hover, .phone:focus {
	background-image: url('img/icons/phone-hover.svg');
}

/* checkbox styling; */

input[type=checkbox] {
  display: none;
}

.checkbox {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
}

.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 40px;
	margin-right: 15px;
	height: 25px;
	font-size: 17px;
	letter-spacing: 0;
	cursor: pointer;
}

.checkbox label:before {
	position: absolute;
	left: 0;	
	margin-right: 10px;
	display: inline-block;	
	content: "";
	width: 25px;
	height: 25px;
	border-radius: 2px;
	border: 1px solid #c6c6c6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(56%, rgba(248,248,248,1)),color-stop(100%, rgba(243,243,243,1)),to(rgba(243,243,243,1)));
	background: linear-gradient(to bottom, rgba(248,248,248,1) 56%,rgba(243,243,243,1) 100%,rgba(243,243,243,1) 100%);
}

.checkbox span:after {
	content: none;
}

input[type=checkbox]:checked + label:after {
	position: absolute;
	display: inline-block;		
	left: 7px;
	bottom: 5px;
	width: 12px;
	height: 12px;
	margin-right: 17px;
	content: "";
	border-radius: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(173,220,84,1)),to(rgba(126,195,31,1)));
	background: linear-gradient(to bottom, rgba(173,220,84,1) 0%,rgba(126,195,31,1) 100%);
}

.checkbox label:hover, .checkbox label:focus {
	text-decoration: underline;
}

input[type=checkbox]:checked + label {
	color: #7f7f7f;
}


/* buttons styling */

.submit {
	margin-top: 15px;
	height: 50px;
	width: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(173,220,84,1)),to(rgba(126,195,31,1)));
	background: linear-gradient(to bottom, rgba(173,220,84,1) 0%,rgba(126,195,31,1) 100%);
	border: 1px solid #3b9a00;
	border-radius: 5px;
	color: #ffffff;
	text-shadow: 1px 1px 2px #193c00;
	font-size: 24px;
	cursor: pointer;
}

.submit:hover, .submit:focus {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(45,118,0,1)),color-stop(75%, rgba(25,60,0,1)));
	background: linear-gradient(to bottom, rgba(45,118,0,1) 0%,rgba(25,60,0,1) 75%);
}

.signin button {
	margin-top: 0;
	margin-left:  auto;
	width: 140px;
}

.buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.buttons button {
	width: 150px;
	font-size: 18px;
}

.done {
	margin-left: auto;
}

button:disabled,
button[disabled] {
	opacity: 0.7;
	cursor: default;
}

button:hover:disabled,
button:hover[disabled] {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(173,220,84,1)),to(rgba(126,195,31,1)));
	background: linear-gradient(to bottom, rgba(173,220,84,1) 0%,rgba(126,195,31,1) 100%);
}

.subscribe .refuse {
	margin-left: auto;
	background: -webkit-gradient(linear, left top, left bottom, from(#f76f7f),color-stop(90%, #f03747));
	background: linear-gradient(to bottom, #f76f7f 0%,#f03747 90%);
	border: 1px solid #a2202a;
}

.refuse:hover, .resufe:focus {
	background: -webkit-gradient(linear, left top, left bottom, from(#a90329),color-stop(44%, #8f0222),to(#6d0019));
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
}


@media screen and (max-width: 1100px) {
	.wrapper {
		width: auto;
	}
	.column {
		margin: 0 30px;
	}
}

@media screen and (max-width: 880px) {
	
	body {
		background-size: cover;
	}

	.wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;		
        -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
	}

	form {
		width: 500px;
	}

	.credits {
		width: auto;
	}
}

@media screen and (max-width: 600px) {
	header {
		background-size: contain;
	}

	.column {
		margin:  0;
		width: 100%;
	}

	form {
		width: 100%;
		outline: 2px solid rgba(0, 0, 0, 0.23);
	}

	.checkbox span {
		font-size: 14px;
	} 
}

@media screen and (max-width: 400px) {
	form {
		width: 100%;
	}
}

@media screen and (max-width: 360px) {
	form {
		padding: 10px;
	}

	input, textarea {
		font-size: 14px;
	}

	.checkbox label{
		margin-right: 0;
	}

	button {
		margin: 5px;
	}
}