* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url('background.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}

header {
	margin-top: 35px;
	height: 111px;
	text-align: center;
	// background-image: url('logo.png');
	mix-blend-mode: soft-light;
	background-repeat: no-repeat;
	background-position: top center;
}
