* {
	padding: 0;
	margin: 0;
/* 	box-sizing: border-box; */
}

body {
	background-color: white;
	background-image: url('img/background.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	color:  #afafaf;
}

body > header {
	margin-top: 35px;
	height: 111px;
	text-align: center;
	background-image: url('img/logo.png');
	mix-blend-mode: soft-light;
	background-repeat: no-repeat;
	background-position: top center;
}

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.column {
	width:  420px;
}

form {
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(56%, rgba(248,248,248,1)),color-stop(100%, rgba(243,243,243,1)),to(rgba(243,243,243,1)));
	background: linear-gradient(to bottom, rgba(248,248,248,1) 56%,rgba(243,243,243,1) 100%,rgba(243,243,243,1) 100%);
}

.register-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

}

form.register {
	padding: 20px;
	background-color: #fff;
	outline: 20px solid rgba(0, 0, 0, 0.23);
}

input, select {
	padding-left:  80px;
	width: calc(100% - 80px);
	height: 40px;
	margin: 20px 0;	
	font-size: 16px;
	letter-spacing: 1px;
	color:  inherit;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(56%, rgba(248,248,248,1)),color-stop(100%, rgba(243,243,243,1)),to(rgba(243,243,243,1)));
	background: linear-gradient(to bottom, rgba(248,248,248,1) 56%,rgba(243,243,243,1) 100%,rgba(243,243,243,1) 100%);
	background-repeat: no-repeat;
	background-position: 15px center;
}

input::-webkit-input-placeholder {
	opacity: 1;
}

input:-ms-input-placeholder {
	opacity: 1;
}

input::-ms-input-placeholder {
	opacity: 1;
}

input::placeholder {
	opacity: 1;
}


select {
	color: inherit;
	width: 100%;
}

select:invalid { 
	color: gray; 
}

.user {
	background-image: url('img/icons/user.svg');
}

.password {
	background-image: url('img/icons/lock.svg');
}

.email {
	background-image: url('img/icons/email.svg');
}

.location {
	background-image: url('img/icons/location.svg');
}

.terms {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 100%;
}

.terms input {
	width: auto;
}

.submit {
	height: 50px;
	width: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(173,220,84,1)),to(rgba(126,195,31,1)));
	background: linear-gradient(to bottom, rgba(173,220,84,1) 0%,rgba(126,195,31,1) 100%);
	border-radius: 5px;
	color: #ffffff;
	font-size: 24px;
}